  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Nuevo Usuario
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
<article class="card-body">
 <%= form_with(model: @user, url: admin_index_path, method: :post) do |f| %>
 	<div class="form-row">
		<div class="col form-group">
			<label>Name </label>   
            <%= f.text_field  :name, placeholder: "Name",class:"form-control ",required: "required" %>
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label>Email</label>
            <%= f.email_field  :email, placeholder: "Email",class:"form-control",required: "required" %>
		</div> <!-- form-group end.// -->
        <div class="col form-group">
			<label>Phone</label>
            <%= f.text_field  :phone, placeholder: "Phone",class:"form-control" ,required: "required"%>
		</div>
        <div class="col form-group">
			<label>Nickname</label>
            <%= f.text_field  :nickname, placeholder: "Nickname",class:"form-control",required: "required" %>
		</div>
        <div class="col form-group">
			<label>Address</label>
            <%= f.text_field  :address, placeholder: "Address",class:"form-control",required: "required" %>
		</div>
         <div class="col form-group">
			 

            <div class="field">
                <%= f.label :avatar %><br />
                <%= f.file_field :avatar, autocomplete: "avatar", class:"form-control" ,required: "required"%>
            </div>
             
		</div> 
         
	</div> <!-- form-row end.// -->
	 
	 
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Password</label>
        <%= f.password_field :password,placeholder:"Password" ,class:"form-control" ,required: "required" %>
	    </div>
        <div class="form-group col-md-6">
         
		  <label>Confirm Password</label>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation",class:"form-control" ,required: "required"%>

		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label>Rol</label>
            <%= f.select :role, Btouser.roles.keys.map {|w| [w.humanize,w]}, include_blank: "Selecciona un Rol" ,class:"form-control" ,required: "required"%>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->
 
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <%= f.submit "Submit",class:"btn btn-primary"%>
      </div>
   <% end %>  
</article>
      </div>
    
    </div>
  </div>
</div>

  
 <table class="table table-hover">
 <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Nickname</th>
      <th scope="col">Address</th>
      <th scope="col">Avatar</th>
      <th scope="col">Rol</th>
      <th scope="col">Accion</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
   <% @users.each do |user|%>
        <%= form_for(user, url: admin_path(user),remote: true, method: :patch) do |f| %>

    <tr>
        <td><%= f.text_field :name  %></td>
        <td><%= f.text_field :email  %></td>
        <td><%= f.text_field :phone  %></td>
        <td><%= f.text_field :nickname  %></td>
        <td><%= f.text_field :address  %></td>
        <td><%= f.file_field :avatar,  class:"form-control" %></td>
        <td><%= f.select(:role, Btouser.roles.keys.map { |w| [w.humanize, w]} )%></td>
        <td><%= f.submit 'Edit' %></td>
    </tr>
        <% end %>
    <% end %>
  </tbody>
  
  </table>