 <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid"><%= link_to 'Carrera Interna', root_path, class: 'navbar-brand' %> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if btouser_signed_in?  %>
          <%= link_to "Admin", admin_index_path if current_btouser.admin? %>
              <%= link_to "Ofertas", offers_path  %>
          <%= link_to "Mis Postulaciones", postulation_index_path  %>
        <% else %>
         

        <% end %>
        
      </li>

      </ul>
      <ul class="navbar-nav ms-auto mb-5 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">


          <% if btouser_signed_in? %> 
              <%  if current_btouser.admin? %>
                <div class="icon-badge-group">
                    <div class="icon-badge-container">
                        <i class="far fa-envelope-open icon-badge-icon"></i>
                        <div class="icon-badge"><%= Reaction.all.count %></div>
                    </div>
                </div>
                <% end %>

               <%= current_btouser.nickname %>    
            <% if current_btouser.avatar.persisted? %>
              <%=  image_tag current_btouser.avatar, class:'rounded-circle', height: "40px", width: "40px"  %> 
            <% else%>
               <img src="https://placehold.co/40x40" alt="Avatar" class='rounded-circle', height="40px", width="40px" >

            <% end %>

          <% else %> Dale registrate o conectate 
          <% end %> </a>
          <ul class="dropdown-menu">
          <% if btouser_signed_in? %>
              <li>
              <%= button_to 'Cerrar sesión', destroy_btouser_session_path, class: 'dropdown-item',method: :delete %>
              </li>
              <li>
              <%= link_to 'Editar Perfil', edit_btouser_registration_path, class: 'dropdown-item'%>

              </li>


              
            <% else %> 
              <li>
              <%= link_to 'Iniciar sesión', new_btouser_session_path, class: 'dropdown-item'%>
              </li>
              <li>
              <hr class="dropdown-divider">
              </li>
            <li><%= link_to 'Registro', new_btouser_registration_path, class: 'dropdown-item'%> </li><% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>